{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
   "inferno",
   "import"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "semi": 2,
    "inferno/jsx-uses-inferno": 2,
    "inferno/jsx-uses-vars": 2,
    "import/no-unresolved": 2,
    "no-console": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}